<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <package id="autodesk-fusion360" />
	    <!--<package id="eagle" /> only free version !--> 
	    <package id="MobaXTerm" />
	    <package id="sysinternals" />
        <package id="battle.net" />
		<package id="atmel-studio" />
		<package id="cp210x-vcp-drivers" />
		<package id="sudo" />
		<package id="starship" />
		<package id="jetbrainsmononf" />
    </packages>